.input-pair {
    position: relative;

    .input {
        width: 100%;
        padding: 1.25em 5em 1.25em 1.65em;
        background: $blue;
        color: #FFF;
        box-sizing: border-box;
        border: none;

        &:focus {
            background-color: darken($blue, 10%);
        }

        @include placeholder {
            color: rgba(#FFF, .5);
        }
    }

    button, .spinner {
        position: absolute;
        right: .75em;
        color: #FFF;
        top: 50%;
        display: block;
        margin-top: -.55em;
        font-size: 1.5em;
    }

    .icon-repeat {
        @include animation(spin .9s linear infinite);
        display: block;
    }

    button {
        padding: 0;
        min-width: 2em;
        margin-right: -.5em;
        border:none;
        background-color: transparent;

        &:focus {
            text-shadow: 0 0 .5em #FFF;
        }
    }
}